In [2]:
import pandas as pd

In [3]:
library = pd.read_csv('Data Tidying Examples - Sidewinder Library.csv')
library

,First Name,Last Name,Date of Birth,Library Card Expired?,Book,Author_A,Author_B,Genres,Days Late,Late Fees
0,Danny,Torrance,1971-12-11,Yes,The Phantom Tollbooth,Norton Juster,Jules Feiffer,Fiction; Youth,15,$0.45
1,Danny,Torrance,1971-12-11,Yes,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45
2,Jack,Torrance,1946-08-03,No,Pride and Prejudice,Jane Austen,-,Fiction,7,$0.70
3,Jack,Torrance,1946-08-03,No,I Know Why the Caged Bird Sings,Maya Angelou,-,Nonfiction; Memoir,15,$1.50
4,Jack,Torrance,1946-08-03,No,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45
5,Wendy,Torrance,1946-03-05,No,Emma,Jane Austen,-,Fiction,7,$0.70
6,Wendy,Torrance,1946-03-05,No,The Electric Kool-Aid Acid Test,Tom Wolfe,-,Nonfiction,15,$4.50
7,Wendy,Torrance,1946-03-05,No,The Communist Manifesto,Karl Marx,Friedrich Engels,Nonfiction,15,$6.00
8,Wendy,Torrance,1946-03-05,No,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45
9,?,Massey,?,No,Pride and Prejudice,Jane Austen,-,Fiction,15,$1.50
10,?,Massey,?,No,Slouching Towards Bethlehem,Joan Didion,-,Nonfiction,15,$1.50

## Questions: 

- What is the unit of observation? (row)
- What are the variables? (column)
- How would we tidy this?

row -> obervation -> Ausleihe

The five units of observation are 
- person
- book
- book-genre
- book-author
- book-borrowed-by-person

In [4]:
# Creating Book table
book_df = (
    library[["Book", "Author_A", "Author_B", "Genres"]]
    .drop_duplicates()
    .reset_index(drop=True)
    .reset_index(names="Book_id")
)
book_df

,Book_id,Book,Author_A,Author_B,Genres
0,0,The Phantom Tollbooth,Norton Juster,Jules Feiffer,Fiction; Youth
1,1,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth
2,2,Pride and Prejudice,Jane Austen,-,Fiction
3,3,I Know Why the Caged Bird Sings,Maya Angelou,-,Nonfiction; Memoir
4,4,Emma,Jane Austen,-,Fiction
5,5,The Electric Kool-Aid Acid Test,Tom Wolfe,-,Nonfiction
6,6,The Communist Manifesto,Karl Marx,Friedrich Engels,Nonfiction
7,7,Slouching Towards Bethlehem,Joan Didion,-,Nonfiction

In [5]:
person_df= (
    library[["First Name", "Last Name", "Date of Birth","Library Card Expired?"]]
    .drop_duplicates()
    .reset_index(drop=True)
    .reset_index(names="person_id")
)
person_df

   person_id First Name Last Name Date of Birth Library Card Expired?
0          0      Danny  Torrance    1971-12-11                   Yes
1          1       Jack  Torrance    1946-08-03                    No
2          2      Wendy  Torrance    1946-03-05                    No
3          3          ?    Massey             ?                    No

In [6]:
library_df = (
    library
    .assign(
        genre_1 = lambda df: df["Genres"].str.split("; ").str.get(0),
        genre_2 = lambda df: df["Genres"].str.split("; ").str.get(1),
)
    .drop(columns = [ "Genres" ])

)

library_df

,First Name,Last Name,Date of Birth,Library Card Expired?,Book,Author_A,Author_B,Days Late,Late Fees,genre_1,genre_2
0,Danny,Torrance,1971-12-11,Yes,The Phantom Tollbooth,Norton Juster,Jules Feiffer,15,$0.45,Fiction,Youth
1,Danny,Torrance,1971-12-11,Yes,A Wrinkle in Time,Madeleine L'Engle,-,15,$0.45,Fiction,Youth
2,Jack,Torrance,1946-08-03,No,Pride and Prejudice,Jane Austen,-,7,$0.70,Fiction,NaN
3,Jack,Torrance,1946-08-03,No,I Know Why the Caged Bird Sings,Maya Angelou,-,15,$1.50,Nonfiction,Memoir
4,Jack,Torrance,1946-08-03,No,A Wrinkle in Time,Madeleine L'Engle,-,15,$0.45,Fiction,Youth
5,Wendy,Torrance,1946-03-05,No,Emma,Jane Austen,-,7,$0.70,Fiction,NaN
6,Wendy,Torrance,1946-03-05,No,The Electric Kool-Aid Acid Test,Tom Wolfe,-,15,$4.50,Nonfiction,NaN
7,Wendy,Torrance,1946-03-05,No,The Communist Manifesto,Karl Marx,Friedrich Engels,15,$6.00,Nonfiction,NaN
8,Wendy,Torrance,1946-03-05,No,A Wrinkle in Time,Madeleine L'Engle,-,15,$0.45,Fiction,Youth
9,?,Massey,?,No,Pride and Prejudice,Jane Austen,-,15,$1.50,Fiction,NaN
10,?,Massey,?,No,Slouching Towards Bethlehem,Joan Didion,-,15,$1.50,Nonfiction,NaN

In [12]:
book_df_v2 = (
    book_df
    .assign(
        genre_1 = lambda df: df["Genres"].str.split("; ").str.get(0),
        genre_2 = lambda df: df["Genres"].str.split("; ").str.get(1),
)
    .drop(columns = [ "Genres" ])

)

book_df_v2

,Book_id,Book,Author_A,Author_B,genre_1,genre_2
0,0,The Phantom Tollbooth,Norton Juster,Jules Feiffer,Fiction,Youth
1,1,A Wrinkle in Time,Madeleine L'Engle,-,Fiction,Youth
2,2,Pride and Prejudice,Jane Austen,-,Fiction,NaN
3,3,I Know Why the Caged Bird Sings,Maya Angelou,-,Nonfiction,Memoir
4,4,Emma,Jane Austen,-,Fiction,NaN
5,5,The Electric Kool-Aid Acid Test,Tom Wolfe,-,Nonfiction,NaN
6,6,The Communist Manifesto,Karl Marx,Friedrich Engels,Nonfiction,NaN
7,7,Slouching Towards Bethlehem,Joan Didion,-,Nonfiction,NaN

In [14]:
genre_df = ( 
    book_df_v2
    .melt(
        id_vars = [ "Book", "Book_id", "Author_A", "Author_B"],
        value_name = "genre"
    )
    .drop(columns = ["variable"])
    .dropna(subset=["genre"])
)

genre_df.sort_values(["Book_id"])

,Book,Book_id,Author_A,Author_B,genre
0,The Phantom Tollbooth,0,Norton Juster,Jules Feiffer,Fiction
8,The Phantom Tollbooth,0,Norton Juster,Jules Feiffer,Youth
1,A Wrinkle in Time,1,Madeleine L'Engle,-,Fiction
9,A Wrinkle in Time,1,Madeleine L'Engle,-,Youth
2,Pride and Prejudice,2,Jane Austen,-,Fiction
3,I Know Why the Caged Bird Sings,3,Maya Angelou,-,Nonfiction
11,I Know Why the Caged Bird Sings,3,Maya Angelou,-,Memoir
4,Emma,4,Jane Austen,-,Fiction
5,The Electric Kool-Aid Acid Test,5,Tom Wolfe,-,Nonfiction
6,The Communist Manifesto,6,Karl Marx,Friedrich Engels,Nonfiction
7,Slouching Towards Bethlehem,7,Joan Didion,-,Nonfiction

In [16]:
author_df = ( 
    genre_df
    .melt(
        id_vars = [ "Book", "Book_id", "genre"],
        value_name = "author"
    )
    .drop(columns = ["variable"])
    .dropna(subset=["author"])
)

# Filter out rows with "-" in the author column
author_new_filtered = author_df[author_df["author"] != "-"]

# Sort by book-id
author_new_filtered_sorted = author_new_filtered.sort_values(["Book_id"]).reset_index(drop=True)

author_new_filtered_sorted

                               Book  Book_id       genre             author
0             The Phantom Tollbooth        0     Fiction      Norton Juster
1             The Phantom Tollbooth        0       Youth      Norton Juster
2             The Phantom Tollbooth        0     Fiction      Jules Feiffer
3             The Phantom Tollbooth        0       Youth      Jules Feiffer
4                 A Wrinkle in Time        1     Fiction  Madeleine L'Engle
5                 A Wrinkle in Time        1       Youth  Madeleine L'Engle
6               Pride and Prejudice        2     Fiction        Jane Austen
7   I Know Why the Caged Bird Sings        3  Nonfiction       Maya Angelou
8   I Know Why the Caged Bird Sings        3      Memoir       Maya Angelou
9                              Emma        4     Fiction        Jane Austen
10  The Electric Kool-Aid Acid Test        5  Nonfiction          Tom Wolfe
11          The Communist Manifesto        6  Nonfiction          Karl Marx
12          The Communist Manifesto        6  Nonfiction   Friedrich Engels
13      Slouching Towards Bethlehem        7  Nonfiction        Joan Didion